<div class="container">

  <%= render 'shared/pagetitle', title: "Recipes" %>

  <i class="fas fa-lemon"></i>
  <div class="center">
    <%= will_paginate(@things, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, class: 'pagination pagination-lg') %>
  </div>
  <div class="container">
    <div class="row">
      <%= render 'recipe', obj: @recipes %>
    </div>
  </div>
  <div class="center">
    <%= will_paginate(@things, :renderer => WillPaginate::ActionView::BootstrapLinkRenderer, class: 'pagination pagination-md') %>
  </div>
<!--
  <% @recipes.each do |recipe| %>
  <div class="row">
    <div class="col-md-2">
      <section class="chef-info center">
        <%= gravatar_for(recipe.chef, size: 120) %>
      </section>
    </div>
    <div class="col-md-8 well">
      <h4><%= link_to recipe.name, recipe_path(recipe) %></h4>
      <p><%= truncate(recipe.description, length: 150) %></p>
      <p>
        <span class="quiet"><small>Created

          <%= time_ago_in_words(recipe.created_at) %> ago</small></span>
        </p>
      </div>
    </div>
    <% end %>
  </div> -->



