<div class="navbar-wagon">

  <%= link_to "My Recipes", root_path, id: "logo" %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <%= link_to "Recipes", recipes_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "Chefs", chefs_path, class: "navbar-wagon-item navbar-wagon-link" %>

      <!-- Profile picture with dropdown list -->
      <% if logged_in? %>
      <%= link_to "Create Recipe", new_recipe_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <img src="assets/graham.jpg" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <% if current_chef.admin? %>
            <li><%= link_to "#{current_chef.name.capitalize}'s Profile Admin", chef_path(current_chef) %></li>
            <% else %>
            <li><%= link_to "#{current_chef.name.capitalize}'s Profile", chef_path(current_chef) %> </li>
            <% end %>
            <li><%= link_to "Edit Profile", edit_chef_path(current_chef) %></li>
            <li><%= link_to "Log out", logout_path, method: :delete %></li>
          </ul>
        </div>
      </div>
      <% else %>
      <%= link_to "Log in", login_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "Sign up", signup_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <% end %>
    </div>

    <!-- Dropdown appearing on mobile only -->
    <div class="navbar-wagon-item hidden-md hidden-lg">
      <div class="dropdown">
        <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><a href="#">About</a></li>
          <li><a href="#">Recipes</a></li>
          <li><a href="#">Blog</a></li>
        </ul>
      </div>
    </div>
  </div>
