<div class="navbar-wagon">

  <%= link_to "My Recipes", root_path, id: "logo" %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <%= link_to "Recipes", recipes_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "Chefs", chefs_path, class: "navbar-wagon-item navbar-wagon-link" %>

    <% if logged_in? %>
    <%= link_to "Create Recipe", new_recipe_path, class: "navbar-wagon-item navbar-wagon-link" %>

    <!-- Ingredients with dropdown list -->
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <div class="dropdown-toggle navbar-wagon-item navbar-wagon-link" id="navbar-wagon-menu" data-toggle="dropdown">Ingredients</div>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><%= link_to "All Ingredients", ingredients_path %></li>
          <% Ingredient.all.each do |ingredient| %>
            <li><%= link_to ingredient.name, ingredient_path(ingredient) %></li>
          <% end %>
          <% if logged_in? && current_chef.admin? %>
          <li role="separator" class="divider"></li>
          <li><%= link_to "New Ingredient", new_ingredient_path %></li>
          <% end %>
        </ul>
      </div>
    </div>

    <!-- Profile picture with dropdown list -->
    <div class="navbar-wagon-item">
      <div class="dropdown">
        

        <%= image_tag('graham', :class => "avatar dropdown-toggle", :id => "navbar-wagon-menu", data: { toggle: 'dropdown' }) %>

        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <% if current_chef.admin? %>
          <li><%= link_to "#{current_chef.name.capitalize}'s Profile Admin", chef_path(current_chef) %></li>
          <% else %>
          <li><%= link_to "#{current_chef.name.capitalize}'s Profile", chef_path(current_chef) %> </li>
          <% end %>
          <li><%= link_to "Edit Profile", edit_chef_path(current_chef) %></li>
          <li><%= link_to "Log out", logout_path, method: :delete %></li>
        </ul>
      </div>
    </div>
    <% else %>
    <%= link_to "Log in", login_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "Sign up", signup_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">About</a></li>
        <li><a href="#">Recipes</a></li>
        <li><a href="#">Blog</a></li>
      </ul>
    </div>
  </div>
</div>
